@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/PermanentMarker-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

html{
    min-height: 100%;
    position: relative;
}


header{
    text-align: center;
    height: 12rem;
    display: block;
}

.jumbotron{
    background-color: #f48f42;
    border-radius: 0;
    padding: 2rem;
}

header{
    cursor: pointer;
}

header h1{
    margin: auto;
    font-family: 'Permanent Marker';
    font-size: 6rem;
}

h1{
    margin: auto;
    font-family: 'Open Sans';
    text-align: center;
    margin-bottom: 2rem;
}

main{
    margin-left: auto;
    margin-right: auto;
}


.col-lg-4{
    text-align: center;
     margin-bottom: 3rem;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.rounded-circle{
    object-fit: cover;
    width: 140px;
    height: 140px;
}

#webcam .rounded-circle{
    width: 200px;
    height: 200px;
}

.red{
    color: red;
    font-weight: bold;
}

.orange{
    background-color: #f48f42;
    height: 3rem;
}

footer {
    padding-left: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

ul{
    margin-left: auto;
    margin-right: auto;
}

li{
    display: inline;
    margin: 1rem;
}
li>a{
    font-size: 1.2rem;
    color: #212529;
}

li>a:hover{
    color: white;
}

h2>a{
    color: #212529;
}

a:hover{
    color: #f48f42;
    text-decoration: none;
}

.picture{
    display: none;
}

.specialForm{
    z-index: 5;
}

.container{
    margin-bottom: 1rem;
}

#container {
   min-height:100%;
   position:relative;

}

#askPicture{
    display: block;
}

#pittaForm{
    margin-bottom: 2rem;
    padding-left: 2rem;
}

#pittaForm>label{
    display: inline;
    margin: auto;
    margin-right: 1rem;
    margin-left: 0;
}

#pittaForm input, #pittaForm textarea, #pittaForm select, #pittaForm button{
    margin-right: 1rem;
    display: inline;
    vertical-align: middle;
}

